[tasks.build-gin]
run = '''
cd ben-gin && go build -o ben-gin
'''

[tasks.run-gin]
run = '''
./ben-gin/ben-gin
'''

[tasks.build-echo]
run = '''
cd ben-echo && go build -o ben-echo
'''

[tasks.run-echo]
run = '''
./ben-echo/ben-echo
'''

[tasks.build-fiber]
run = '''
cd ben-fiber && go build -o ben-fiber
'''

[tasks.run-fiber]
run = '''
./ben-fiber/ben-fiber
'''

[tasks.build-std]
run = '''
cd ben-std && go build -o ben-std
'''

[tasks.run-std]
run = '''
./ben-std/ben-std
'''

[tasks.build-quarkus]
run = '''
cd ben-quarkus && ./mvnw clean package -DskipTests -Dquarkus.package.type=uber-jar
'''

[tasks.run-quarkus]
run = '''
java -jar ben-quarkus/target/ben-quarkus-1.0.0-SNAPSHOT-runner.jar
'''

[tasks.build-spring-boot]
run = '''
cd ben-spring-boot && ./gradlew clean bootJar
'''

[tasks.run-spring-boot]
run = '''
java -jar ben-spring-boot/build/libs/ben-spring-boot-0.0.1-SNAPSHOT.jar
'''

[tasks.run-spring-boot-virtualthreads]
run = '''
java -jar ben-spring-boot/build/libs/ben-spring-boot-0.0.1-SNAPSHOT.jar --spring.threads.virtual.enabled=true
'''

[tasks.build-actix]
run = '''
cd ben-actix-web && cargo build -r --target-dir=target
'''

[tasks.run-actix]
run = '''
./ben-actix/target/release/ben-actix
'''

[tasks.build-axum]
run = '''
cd ben-axum && cargo build -r --target-dir=target
'''

[tasks.run-axum]
run = '''
./ben-axum/target/release/ben-axum
'''

[tasks.build-all]
depends = [
    "build-gin",
    "build-echo",
    "build-fiber",
    "build-std",
    "build-quarkus",
    "build-spring-boot",
    "build-actix",
    "build-axum",
    "build-fastapi",
    "build-express",
    "build-fastify",
]

[tasks.run-bun]
run = '''
cd ben-bun && bun run ben-bun.js
'''

[tasks.build-fastapi]
run = '''
cd ben-fastapi && uv sync
'''

[tasks.run-fastapi]
run = '''
cd ben-fastapi && uv run main.py
'''

[tasks.build-express]
run = '''
cd ben-express && pnpm i --force
'''

[tasks.run-express]
run = '''
cd ben-express && pnpm run start
'''

[tasks.build-fastify]
run = '''
cd ben-fastify && pnpm i --force
'''

[tasks.run-fastify]
run = '''
cd ben-fastify && pnpm run start
'''

[tasks.run-benchmark]
run = '''
wrk -t2 -c40 -d15s http://localhost:8080/
'''
